In [4]:
import pandas as pd

In [5]:
data = {
    'ID':[1,2,3,4,5,6],
    'Name':['Ram','Sham','Raj','Sita','Gita','Ananya'],
    'Age':[25,40,45,20,21,22],
    'State':['Maharashtra','Gujrat','Kerala','Goa','Madhya Pradesh','Rajasthan'],
    'Sales':[500,200,450,600,800,1000]
}

In [6]:
df = pd.DataFrame(data)
print("Original Dataset: ")
print(df)

Original Dataset:
   ID    Name  Age           State  Sales
0   1     Ram   25     Maharashtra    500
1   2    Sham   40          Gujrat    200
2   3     Raj   45          Kerala    450
3   4    Sita   20             Goa    600
4   5    Gita   21  Madhya Pradesh    800
5   6  Ananya   22       Rajasthan   1000

In [7]:
df['Name_Upper'] = df['Name'].str.upper()
print("\nCharacter Map (Uppercase Names):")
print(df[['ID','Name','Name_Upper']])

Character Map (Uppercase Names):
   ID    Name Name_Upper
0   1     Ram        RAM
1   2    Sham       SHAM
2   3     Raj        RAJ
3   4    Sita       SITA
4   5    Gita       GITA
5   6  Ananya     ANANYA

In [8]:
# Multicast: Create two copies of the dataset
df_copy1 = df.copy()
df_copy2 = df.copy()

# Transformations on each copy
df_copy1['Sales'] *= 1.1
df_copy2['Age'] += 5

print("\nMulticast (Modified Copies):")
print("Copy 1 (Sales Increased):")
print(df_copy1)
print("\nCopy 2 (Age Increased):")
print(df_copy2)

Multicast (Modified Copies):
Copy 1 (Sales Increased):
   ID    Name  Age           State   Sales Name_Upper
0   1     Ram   25     Maharashtra   550.0        RAM
1   2    Sham   40          Gujrat   220.0       SHAM
2   3     Raj   45          Kerala   495.0        RAJ
3   4    Sita   20             Goa   660.0       SITA
4   5    Gita   21  Madhya Pradesh   880.0       GITA
5   6  Ananya   22       Rajasthan  1100.0     ANANYA

Copy 2 (Age Increased):
   ID    Name  Age           State  Sales Name_Upper
0   1     Ram   30     Maharashtra    500        RAM
1   2    Sham   45          Gujrat    200       SHAM
2   3     Raj   50          Kerala    450        RAJ
3   4    Sita   25             Goa    600       SITA
4   5    Gita   26  Madhya Pradesh    800       GITA
5   6  Ananya   27       Rajasthan   1000     ANANYA

In [9]:
# Conditional Split: Sales>300
high_sales = df[df['Sales']>300]
low_sales = df[df['Sales']<=300]
print("\nConditional Split:")
print("High Sales:")
print(high_sales)
print("\nLow Sales")
print(low_sales)

Conditional Split:
High Sales:
   ID    Name  Age           State  Sales Name_Upper
0   1     Ram   25     Maharashtra    500        RAM
2   3     Raj   45          Kerala    450        RAJ
3   4    Sita   20             Goa    600       SITA
4   5    Gita   21  Madhya Pradesh    800       GITA
5   6  Ananya   22       Rajasthan   1000     ANANYA

Low Sales
   ID  Name  Age   State  Sales Name_Upper
1   2  Sham   40  Gujrat    200       SHAM

In [11]:
# Aggregation

agg_df = df.groupby('State')['Sales'].sum().reset_index()
print("\nAggregation (Total Sales by Country):")
print(agg_df)

Aggregation (Total Sales by Country):
            State  Sales
0             Goa    600
1          Gujrat    200
2          Kerala    450
3  Madhya Pradesh    800
4     Maharashtra    500
5       Rajasthan   1000

In [12]:
# SORT

sorted_df = df.sort_values(by='Sales', ascending=False)
print("\nSort (Descending Sales):")
print(sorted_df)

Sort (Descending Sales):
   ID    Name  Age           State  Sales Name_Upper
5   6  Ananya   22       Rajasthan   1000     ANANYA
4   5    Gita   21  Madhya Pradesh    800       GITA
3   4    Sita   20             Goa    600       SITA
0   1     Ram   25     Maharashtra    500        RAM
2   3     Raj   45          Kerala    450        RAJ
1   2    Sham   40          Gujrat    200       SHAM

In [13]:
# Derived Column
df['Sales_Category'] = df['Sales'].apply(lambda x: 'High' if x>300 else 'Low')
print("\nDerived Column (Sales Category):")
print(df[['ID','Name','Sales','Sales_Category']])

Derived Column (Sales Category):
   ID    Name  Sales Sales_Category
0   1     Ram    500           High
1   2    Sham    200            Low
2   3     Raj    450           High
3   4    Sita    600           High
4   5    Gita    800           High
5   6  Ananya   1000           High